* {
  margin: 0;
  padding: 0;
}

.navigation {
  width: 100%;
  min-height: 70px;
  border-bottom: 2px solid black;
  position: fixed;
}

.flex-display {
  display: flex;
}

.nav-list {
  justify-content: space-around;
  list-style-type: none;
  padding: 22px  0 0 0;
  font-size: 24px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 15%;
}

.footerLicenseDiv {
  width: 100%;
  border: 1px solid;
  height: 66%;
}

.footerLicense {
  margin: 1.5% 0 1.5% 2%;
}

.footerImageDiv {
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid;
  height: 33%;
  width: 100%;
  margin: auto;
}

.footerImage {
  height: 80%;
  float: right;
  padding: 5px;
  transform: rotate(45deg);
}
